header a {
    margin-right: 16px;
}

.hptext {
    margin-right: 16px;
}

.links {
    color:#778899;
    margin-right: 16px;
}
.text {
    margin-left: 16px;
}
.python {
    color:blue
}
.menühp {
    color:blue
}