h1 {
font-family:"Gowun Dodum", sans-serif;
}

.hptext {
    margin-right: 16px;
}

.links {
    color:#778899;
    margin-right: 16px;
}
.tipps {
    color:blue;
}

.text {
    margin-left: 16px;
}

.python {
    color:blue
}

.menuhp {
    color:blue;
}
