 header a {
    margin-right: 16px;
    font-family:"Gowun Dodum", sans-serif;
}
a {
     text-decoration:none;
     font-family:"Gowun Dodum", sans-serif;
}
 h1 {
      margin-left: 90px;
       width:240px;
      text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
       font-family:"Gowun Dodum", sans-serif;


}

body {
      margin: 0;
      font-family:"Gowun Dodum", sans-serif;
      transform: translateY(30px);
      animation: slideUp 1.5s ease-out forwards;


}

header {
        background-color: white;
        height: 100px;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        box-shadow: 6px 4px 15px 4px rgba(0,0,0,0.85);
        font-family:"Gowun Dodum", sans-serif;
        animation: header_move 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
}

a:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
    text-decoration: underline;
}
.python{
    margin-right: 16px;
}

@keyframes header_move {

from {
opacity: 0;
scale: 0.5;
}

to {
}

}


@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

