
a {
     text-decoration:none;
     font-family:"Gowun Dodum", sans-serif;
}
 h1 {
      margin-left: 90px;
       width:240px;
      text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
       font-family:"Gowun Dodum", sans-serif;


}

body {
      margin: 0;
      font-family:"Gowun Dodum", sans-serif;
      transform: translateY(30px);
      animation: slideUp 1.5s ease-out forwards;


}



a:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
    text-decoration: underline;
}
.python{
    margin-right: 16px;
}

@keyframes header_move {

from {
opacity: 0;
scale: 0.5;
}

to {
}

}


@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
  background-color: white;
  border-bottom: 1px solid #adabab;
}

nav ul {
  list-style: none;
  display: flex;
}

nav .home-li {
  margin-right: auto;
}

nav a {
  display: flex;
  text-decoration: none;
  color: inherit;
  padding: 1em 2em;
  transition: background-color 150ms ease;
}



nav a.active-link {
  border-bottom: 2px solid #000;
}

nav li {
  display: flex;
}
#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#overlay {
  
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid #ffffff;
}

@media screen and (max-width: 730px) {
  #open-sidebar-button,
  #close-sidebar-button {
    display: block;
  }
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid #ccc;
    transition: right 300ms ease-out;
  }

  nav.show {
    right: 0;
  }
  nav.show ~ #overlay{
    display: block;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
  }

  nav a {
    width: 100%;
    padding-left: 2.5em;
  }

  nav .home-li {
    margin-right: unset;
  }

 
}

