
.links {
    color:blue;
    margin-right: 16px;
}
.menuhp {
    color:blue
}
.python {
    color:#778899
}
.tipps {
    color:blue;
}
.text {
    margin-left: 16px;
}

body {
width: 100%;
}
