
.links {
    color:blue;
}
.menuhp {
    color:blue;
}
.python {
    color:blue;
}
.tipps {
    color:#778899;
     margin-right: 16px;
}
.textpytipp {
    text-align: center;
}
h2 {
    text-align: center;
}